<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Camp Massad</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<!-- Left side nav -->
		<ul class="navbar-nav mr-auto">
			{% set navPages = collections.all | eleventyNavigation %}
			{%- for entry in navPages %}
			<li class="nav-item {% if entry.url == page.url %}active{% endif %}">
				<a class="nav-link" href="{{ entry.url | url }}" {% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }} {% if entry.url == page.url %}<span class="sr-only">(current)</span>{% endif %}</a>
			</li>
			{%- endfor %}
		</ul>
		<!-- Right side nav -->
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>	

		<!--
		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>
		-->

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
